@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'tailwindcss';

body {
  background-color: #0f172b;
  font-family: 'Inter', sans-serif;
}

@theme {
  --font-inter: 'Inter', sans-serif;

  --color-primary-accent: #ef0107;
  --color-dark-red: #801d1d;
  --color-red-accent: #332536;

  --color-dark-border: #2d3b4e;
  --color-light-border: #475569;

  --color-win-accent-fill: #1d3742;
  --color-draw-accent-fill: #333536;
  --color-loss-accent-fill: #332c3c;
}

/* Dark Navyblue – slate-900 (#0F172A) */
/* Light Navyblue – slate-800 (#1E293B) */
/* Lighter Navyblue – slate-700 (#334155) */

/* Dark Gray – slate-400 (#94A3B8) */
/* Light Gray – slate-300 (#CBD5E1) */

/* Win Accent – emerald-500 (#10B981) */
/* Draw Accent – amber-500 (#F59E0B) */
/* Loss Accent – red-500 (#EF4444) */
